@model OrderDetailViewModel

@{
    var Url0 = "#";
    var Url1 = "#";
    var Url2 = "#";
}

<div class="container-fluid">
    <div class="row">
        <!-- 左側選單（大螢幕） -->
        <div class="col-md-3 col-lg-2 d-none d-md-block sidebar h-100" id="left-menu-id">
            <div class="list-group">
                <a href="@Url0" data-producttypeid="0" class="list-group-item list-group-item-action" aria-current="true">
                    全部
                </a>
                <a href="@Url1" data-producttypeid="1" class="list-group-item list-group-item-action">類別1</a>
                <a href="@Url2" data-producttypeid="2" class="list-group-item list-group-item-action">類別2</a>
            </div>
        </div>

        <!-- 主要內容區 -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- 下拉選單（小螢幕） -->
            <div class="dropdown d-md-none mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" id="dropdown-menu-id" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" data-producttypeid="0" href="@Url0" aria-current="true">全部</a></li>
                    <li><a class="dropdown-item" data-producttypeid="1" href="@Url1" aria-current="true">類別1</a></li>
                    <li><a class="dropdown-item" data-producttypeid="2" href="@Url2" aria-current="true">類別2</a></li>
                </ul>
            </div>

            <!-- 商品列表 -->
            <div class="row row-cols-1">
                <div class="accordion" id="accordionPanelsStayOpenExample">                    
                @foreach(var item in Model.orderInfos)
                {
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne-@item.OrderId">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@item.OrderId" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne-@item.OrderId">
                                <div class="row row-cols-1 row-cols-sm-3 w-100">
                                        <span class="col col-sm-7">@item.OrderId</span>
                                        <span class="col col-sm-2">@Model.productItemForOrders.Where(x => x.OrderId == item.OrderId).Count()</span>
                                        <span class="col col-sm-3">@item.PayPrice.ToString("C0")</span>
                                </div>
                            </button>
                        </h2>
                            <div id="panelsStayOpen-collapseOne-@item.OrderId" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne-@item.OrderId">
                            <div class="accordion-body">
                                @foreach(var item1 in Model.productItemForOrders.Where(x => x.OrderId == item.OrderId).ToArray())
                                {
                                    <div class="row mb-3 mb-sm-2">
                                        <div class="col-sm col-sm-7">商品名稱：@item1.Name</div>
                                        <div class="col-sm col-sm-2">數量：@item1.Num</div>
                                        <div class="col-sm col-sm-3">單價：@item1.Price.ToString("C0")</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                    
                </div>
            </div>

            <div id="ProductDetail">
                @*
                    @await Html.PartialAsync("_ProductDetail", Model.productItem)
                *@
            </div>

        </main>
    </div>
</div>

@section Scripts {
    <script>
    </script>
}