
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Text"] - WebMVC2</title>
    <link href="~/lib/bootstrap/dist/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebMVC2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="DataList" asp-action="Index">WebMVC2</a>

                <div class="navbar-text ms-auto order-sm-2 d-flex justify-content-end me-3 me-md-0">

                    <a href='@Url.Action("Index2","DataList")' class="nav-link text-dark position-relative">
                        <span class="bi bi-cart4 position-absolute start-0 translate-middle" style="font-size:24px; top:17px">
                            <span id="shopCarSum" class="position-absolute top-0 start-100 badge rounded-pill bg-secondary" style="font-size:10px"></span>
                        </span>
                    </a>

                    <div class="d-none d-md-flex">
                        <a class="nav-link text-dark" asp-controller="Login" asp-action="Register">Register</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-dark" asp-controller="Login" asp-action="LogOut">LogOut</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
                        }
                    </div>

                    <!-- 下拉選單（小螢幕） -->
                    <form id="selectLanguageForm" asp-controller="Home" asp-action="SetLanguage">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownLanguageButton" data-bs-toggle="dropdown" aria-expanded="false">@CultureInfo.CurrentUICulture.Name</button>

                            <ul class="dropdown-menu" id="dropdown-Language-id" aria-labelledby="dropdownLanguageButton">
                                <li><a class="dropdown-item" onclick="$('#culture').val($(this).text());$('#selectLanguageForm').submit();" aria-current="true">zh-TW</a></li>
                                <li><a class="dropdown-item" onclick="$('#culture').val($(this).text());$('#selectLanguageForm').submit();" aria-current="true">en-US</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="culture" id="culture" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.GetEncodedPathAndQuery()" />
                    </form>
                </div>

                <button class="navbar-toggler order-sm-3" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataList" asp-action="Index">@Localizer["Menu1"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataList" asp-action="Index3">@Localizer["Menu2"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataList" asp-action="Index4">@Localizer["Menu3"]</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav d-md-none">
                        <li><a class="nav-link text-dark" asp-controller="Login" asp-action="Register">Register</a></li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="LogOut">LogOut</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
                            }
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebMVC2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var shopCar;
        var language = "@CultureInfo.CurrentUICulture.Name";
        console.log(language)

        $(document).ready(function () {
            shopCar = new ShopCar();
            var errorMessage = '@TempData["ErrorMessage"]';
            // 獲取錯誤訊息
            if (errorMessage) {
                OpenAlertMessage(errorMessage);
            }
        });

        function OpenConfirm(html, callbackfn, headerhtml = 'Message') {
            let msg = $('#staticBackdrop');
            msg.find('.modal-title').html(headerhtml);
            msg.find('.modal-body').html(html);
            msg.modal('show');

            msg.find('#DoneBtn').click(function () {
                msg.modal("hide");
                callbackfn();
                OpenLoading();
            });
        }

        function OpenAlertMessage(html) {
            let msg = $('#exampleModal');
            msg.find('.modal-body').html(html);
            msg.modal('show');
        }

        function OpenLoading() {
            $('#loadingModal').modal('show');
        }

        function CloseLoading() {
            $('#loadingModal').modal('hide');
        }

        class ShopCar {
            shopCarSum = "#shopCarSum";
            constructor() {
                this.Get();
            }

            CheckShow(Num) {
                var _this = this;
                if (Num <= 0) {
                    $(_this.shopCarSum).hide();
                } else {
                    $(_this.shopCarSum).html(Num);
                    $(_this.shopCarSum).show();
                }
            }

            Get() {
                let _this = this;
                let url = '@Url.Action("GetShopCarSum", "DataList")';
                $.get(url, function (item) {
                    _this.CheckShow(item);
                });
            }

            Add(id, Num) {
                var def = $.Deferred();
                let _this = this;
                let url = '@Url.Action("AddShopCar", "DataList")' + '/' + id + '?Num=' + Num;
                $.get(url, function (item) {
                    _this.CheckShow(item);
                    def.resolve(item);
                });
                return def.promise();
            }
        }
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="~/Views/Shared/_AlertPartial.cshtml" />
</body>
</html>
